.jumbotron {
  font-family: 'Alfa Slab One', cursive;
}

.well, h3, h4 {
  font-family: 'Raleway', sans-serif;
}
.well {
  margin-left: 25%;
  margin-right: 25%;
}

.qHeader {
  text-decoration: underline;
}

.cartItem {
  cursor: pointer;
  color: #0088cc;
}

.cartItem:hover {
  text-decoration: underline;
}

#show-pizza, .cartWell {
  display: none;
}

ul li {
  font-size: 14pt;
}

button#submitCart {
  margin-left: 33%;
  margin-right: 33%;
}
